.slider-container {
    height: 100%;
  }
  
  /* .slick-slide {
    height: 100%;
    overflow: hidden;
  } */
  
  /* .slick-track {
    display: flex;
    align-items: center;
  } */
   /* .slick-current{
    margin-bottom: 100px !important;
   } */